<div class="row">
  <% if logged_in? %>
  <div class="row">
    <div class='col-md-1 well text-center'>
    </div>
    <div class="well col-md-6">
      
      <%= render partial: "categories/category", collection: post.categories %>
      <p>
        <h4><%= post.title %></h4>
      </p>
      <p> 
        <%= post.content %>
      </p>
      <br>
      <span>
        <%= link_to "show this post", post_path(post) %>
      </span>
      
    </div>
  <% end %>
</div>