<% if category.name == 'Rose' %>
  <span class='badge alert-danger'>
<% elsif category.name == 'Violet' %>
  <span class='badge alert-success'>
<% elsif category.name == 'Ivy' %>
  <span class='badge progress-bar-info'>
<% elsif category.name == 'Jasmine' %>
  <span class='badge progress-bar-warning'>
<% elsif category.name == 'Daisy' %>
  <span class='badge progress-bar-primary'>
 <% else %>
  <span class='badge progress-bar-primary'>
<% end %>
  <%= category.name %>
</span>
